a:hover{background-color:#F0F0F5;} a{padding:0px 10px} a{font-weight:bold;font-family: Arial, serif}
/*

body{
	
}

#main{
	width:900px;
	border: solid;
	border-top:none;
	margin-right: auto;
	margin-left: auto;
	min-height: 100px;
	overflow: hidden;
}

#editable{
	padding:10px;
	margin-left:200px;
	
}

#embedded{padding:10px ; float: right;} 
#embedded, iframe{float:right;}

#topmenu{
	margin-right: auto;margin-left: auto;width:auto;
	border:solid; border-width:thin; border-top:none;
	max-width: 540px; min-width: auto;
	text-align:center;
	
}

#leftmenu{
	float:left;
	width: 200px;
	height: 583px;
	padding: 1px 1px;
	margin-bottom:1px;
	background-color: #F0F0F5;
	border:solid; border-width: thin; border-color: #F0F0F5;
}


#subheadings{
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}

#footer{
	float: right;
	margin-right: 15%;
	margin-left: 20%;
}
.footer, .push{
	height: 155px;
	
}

*/
#topmenu{
	
	margin-right: auto;margin-left: auto;width:auto;
	border:solid; border-width:thin; border-top:none;
	max-width: auto; min-width: auto;
	text-align:center;
	
	border-left: none;
	border-right: none;
	
}



#box {
	
	
	
	width:895px;
	border: solid;
	/*border-top:none;*/
	margin-right: 0px;
	margin-left: 0px;
	min-height: 100px;
	overflow: hidden;

	/*border: thick;
	border-top:none;
	width: 970px;
    background-color: #FFF;
    margin: 0 auto;
    overflow: hidden;*/
}

body {
	width: 900px;
	margin-left: auto;
	margin-right: auto;

	margin-bottom: 30px;

}

#editable{
	width: 700px;
	float: right;
	margin-top: 30px;
	/*margin-left: 200px;*/
}

nav {
	float: left;
	width: 20%;

}



footer {
   /* clear:both;
    text-align:center;
    padding:5px; */
    width: 900px;
    position: fixed;
    bottom: 0px;
    text-align:center;
    color: white;
    background-color: black;
}


#subheadings{
	font-size: 20px;
	font-style: italic;
	font-weight: bold;
}


#menu {
	float: right;
	width: 400px;
	display: inline;
	margin-top: 50px;
}

#mainheader{
	font-size: 30px;
	font-weight:bold;
	/*border-bottom: solid;
	margin-right: 500;
	border-width:thin;*/
	margin-top: 50px;
	width: 300px;
	float: left;	
}

#banner {
	font-size: 30px;
	font-weight:bold;
	margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
	width: 800px;
	float:none;	
}


