/***
FILE NAME: style\slideshow.css
WRITTEN BY: Hung Thieu
WHEN: November 2015 
PURPOSE: styler en slideshow vi har.
***/
#slider{
	height: 310px;
	width: 1000px;
	position: relative;
	overflow: hidden;
}

#image{
	height: 310px;
	width: 1000px;
	position: absolute;
}

.left_hold {
	height: 350px;
	width: 100px;
	position: absolute;
	top: 0px;
	left: 0px;
}

.right_hold {
	height: 350px;
	width: 100px;
	position: absolute;
	top: 0px;
	right:25px;
}

.left {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	left:20px;
	opacity:0;
	transition: all .2s ease-in-out 0s;
}

.right {
	height:50px;
	width:50px;
	position:absolute;
	top:40%;
	right:0px;
	opacity:0;
	transition: all .5s ease-in-out 0s;
}

.left_hold:hover .left {
	opacity:0.6;
}

.right_hold:hover .right {
	opacity:0.6;
}